In [1]:
print('This is my first python program')
## Print is nothing but a function.

This is my first python program

In [2]:
## SHIFT+TAB - It gives information about function.
## e.g. PRINT() and press SHIFT+TAB, it will show the details of why this function is used.

In [3]:
print 'this is new program'
## this program is not vaild in python 3.x, but it is valid in python 2.x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('this is new program')? (<ipython-input-3-9a57684a1268>, line 1)

In [4]:
#proper comment to each code is a BEST PRACTICE while writing a code.
#This gives description on what that code is perfroming.

In [5]:
###mutiple line comment
'''with many lines
of comments by using TRIPLE inverted commas'''
#above line is behaving as a comment and not a code.

'with many lines\nof comments by using TRIPLE inverted commas'

In [7]:
#whenever we try to process a data stored in our OS. All data\files in a system are stored in system Hard disk.
#The OS pulls that file we want to execute from the hard disk, stores it into the main memory ( RAM)
#and pass it to CPU for processing.
#that is how we read or write or process any file in our system.

In [1]:
# Variable is a GLOBAL or LOCAL Instance.
# Variable is nothing but name to a location in main memory to the data we are storing.
# e.g. a=10 means if i am calling a from main memory , then i am trying to pull value assigned to 'a'
# Variable stores data or user can assign a value to a variable.

In [2]:
a=10
print(a)

10

In [3]:
b='Hello'

In [4]:
b

'Hello'

In [5]:
# Since the variable are stored in RAM which is temporary storage.
# values assigned to Variable, it will be deleted once the system or application is closed.
# thats why we call it temporary storage.

In [6]:
# In python we do not define data type. It by default it understands the data type of the value as INT , CHAR , FLOAT.
# Its dynamic typing or dynamic programing.

In [7]:
a=10
type(a)

int

In [9]:
b=1.234
print(b),type(b)

1.234

(None, float)

In [10]:
c='Name'
print(c),type(c)

Name

(None, str)

In [11]:
print(c)

Name

In [1]:
# When we restart the system or application , RAM or main memory gets clean\empty and sicne we store our variables in RAM or 
#main memory, we loses the data assigned to variable. Hence variables are temporary storage.

In [2]:
a=10
b='Name'
print(a,b)

10 Name

In [3]:
print(a,b, 'Subjects')

10 Name Subjects

In [5]:
q,r = 10,20
print(q,r)

10 20

In [11]:
# Variable will always be starting with Character string. a number or special characters can not be varialble
# we can use number after a character but 2b can not be a variable and will give error.
# Only exception is _before a character value as variable.

In [8]:
b2 =2

In [9]:
type (b2)

int

In [10]:
_b='2'
_b

'2'

In [12]:
c=1.23
type(c)

float

In [13]:
x= True
y=False
type(x),type(y)

(bool, bool)

In [14]:
a=True + True + True + False + True
a

4

In [15]:
print(False - True + True)

0

In [16]:
print(True*False)

0

In [21]:
print(True/False)

ZeroDivisionError: division by zero

In [20]:
print(False/True)

0.0

In [22]:
# In CORE Python - when we divide a number by zero it fails on error Division by zero,
#but in Numpy Package if we divide a number by zero it gives output as INF.

In [23]:
# Complex numbers = real + Imagianary number
n= 2+6j
type(n)

complex

In [27]:
# real and imaginary value from complex number
n.real,n.imag

(2.0, 6.0)

In [32]:
m = 3+4j
print(n*m)

(-18+26j)

In [37]:
1 +'Name'
# Data type should match to perform any arthematic operations

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
# To resolve data type mismatch error, we can convert any one of the value into variable matching to the other variable. 
#This above conversion into other data type is called self upcasting.
# This is called strong typing
str(1)+'Name'

'1Name'

In [35]:
'First Name' + ' Last Name'
# Concatination operation

'First Name Last Name'

In [39]:
1 +1.5

2.5

In [40]:
'Name '*2 # another way of concatination.

'Name Name '

In [42]:
# dynamic input from users

a = input()
a

20

'20'

In [46]:
b=input ('Enter an integer')

Enter an integer30

In [47]:
type(b)

str

In [48]:
int(a)

20

In [49]:
a = input ( ' Please Enter Integer')
b = input (' Please enter Integer ')
c= input ( ' Please enter integer')

 Please Enter Integer10
 Please enter Integer 20
 Please enter integer30

In [50]:
o= (int(a) + int(b))/ int(c)
o1 = o+ (2+3j)
print(o,o1)

1.0 (3+3j)

In [51]:
str(o1) + ' smriti'

'(3+3j) smriti'

In [52]:
# alternate of converting the input string into integer

z= int(input(' Please enter integer value'))

 Please enter integer value 30

In [53]:
type(z),z

(int, 30)

<b>DECISION MAKING STATEMENT</b>

In [54]:
# Conditional statement - if else, case statement

In [56]:
a= int(input (' Input a number less than 34 : '))

 Input a number less than 34 : 56

In [57]:
if a > 34:
    print('value is greater than 34')
else:
    print('value is less than 34')
    
# This is called a statement problem

value is greater than 34

In [59]:
if a>34:
    pass
# When we use 'pass' keyword , it does not allow code to return any output.

In [63]:
b=int(input('Enter a number'))
if b > 45:
    print('Value is greater than 45 and good to use')

Enter a number56
Value is greater than 45 and good to use